.sticky-section{
    height: 93vh;
    background: white;
}
.main-page-title{
    position: relative;
    top: 0;
    height: max-content;
    line-height: 100%;
    font-size: 11vw;
    z-index: 99;
}
.block-under-title{
    height: 68vh;
    width: 95.5%;
    z-index: 0;
    background: url(./../../../assets/images/FirstBG.webp);
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    border-radius: 20px 20px 0 0 ;
    @media (max-width: 1920px){
        height: 68vh;
        @media (max-width: 1820px){
            height: 70vh;
            @media (max-width: 1720px){
                height: 80vh;
                background-position: top center;
                @media (max-width: 1440px){
                    height: 80vh;
                    background-position: top center;
                    @media (max-width: 768px){
                        display: none;
                    }
                }
            }
        }
    }
}
.marquee{
    position: fixed;
    top: 23vh;
    height: 5.5vh;
    width: 95.5%;
    .track{
        animation: marquee 25s linear infinite;
        .line-text{
            font-size: 24px;
            color: #FB531F !important;
            font-family: 'IBM Plex Mono', monospace;
            font-weight: 700;
            @media (max-width: 1440px){
                font-size: 18px;
                @media (max-width: 768px){
                    font-size: 14px;
                }
            }
            span{
                color: #222222 !important;
            }
        }
    }
}
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
.sticky-section{
    width: 95.5%;
    min-height: 90vh;
    height: max-content !important;
    margin: 0px auto;
    border-radius: 20px 20px 0 0;
    position: sticky;
    top: 17vh;
    @media (max-width: 768px){
        position: relative;
        height: max-content;
        border-radius: 0;
        top: 2vh;
    }
    // WELCOME SCREEN
    &:nth-child(1){
        position: relative;
        min-height: 100vh;
        top: 0;
        @media (max-width: 768px){
            min-height: max-content !important;
        }
    }
    // ABOUT US
    &:nth-child(2){
        background: #222222;
        padding: 40px;
        color: white;
        font-weight: 400;
        @media (max-width: 768px){
            padding: 20px;
        }
        h2{
            font-size: 64px;
            border-bottom: 2px solid #FB531F;
            height: max-content;
            padding-bottom: 32px;
            @media (max-width: 1680px){
                font-size: 52px;
                @media (max-width: 1440px){
                    font-size: 46px;
                    @media (max-width: 768px){
                        font-size: 24px;
                        text-align: center;
                        line-height: 150%;
                    }
                }
            }
        }
        .scrn-1-left{
            font-size: 24px;
            @media (max-width: 768px){
                width: 100%;
                justify-content: center;
            }
            span{
                border: 2px solid #FB531F;
                border-radius: 24px;
                font-weight: 400;
                padding: 9px 17px;
            }
        }
        .scrn-1-right{
            p{
                font-family: 'IBM Plex Mono', monospace;
                font-size: 20px;
                line-height: 32px;
                @media (max-width: 768px){
                    font-size: 16px;
                    margin-top: 30px;
                    text-align: center;
                }
            }
        }
    }
    // OUR SERVICES
    &:nth-child(3){
        background: white;
        border: 1px solid #FB531F;
        padding: 32px;
        .scrn-2-top{
            font-size: 24px;
            border-bottom: 1px solid #222222;
            padding-bottom: 10px;
            span{
                border-radius: 24px;
                padding: 9px 17px;
                border: 2px solid #FB531F;
                font-family: 'IBM Plex Mono', monospace;
            }
        }
        .our-service-items{
            gap: 1.333333%;
            .our-service-item{
                width: 24%;
                margin-top: 30px;
                border: 1px solid #FB531F;
                border-radius: 16px;
                min-height: 280px;
                @media (max-width: 768px){
                    width: 100%;
                    min-height: 230px;
                }
                .our-services-item-title{
                    padding-bottom: 12px;
                    font-size: 18px;
                    border-bottom: 1px solid #FB531F;
                    text-transform: uppercase;
                    @media (max-width: 1440px){
                        font-size: 16px;
                    }
                }
                .our-service-item-description{
                    font-size: 18px;
                    color: #FB531F;
                    line-height: 140%;
                    font-weight: 400;
                    padding-bottom: 20px;
                    @media (max-width: 1440px){
                        font-size: 16px;
                    }
                }
                .our-service-btns{
                    button{
                        border-radius: 12px;
                        padding: 14px 20px;
                        font-size: 16px;
                        font-weight: 400;
                        @media (max-width: 1440px){
                            padding: 12px 16px;
                            @media (max-width: 768px){
                                padding: 8px 10px;
                            }
                        }

                        &:nth-child(1){
                            background: #222222;
                            color: white;
                        }
                        &:nth-child(2){
                            border: 1px solid #222222;
                            color: #222222;
                        }
                    }
                }
            }
        }
    }
    // GIRL PART
    &:nth-child(4){
        position: relative;
        background: white;
        img{
            border-radius: 20px 20px 0 0;
        }
        .under-image-text{
            padding: 12px 0; 
            border-bottom: 1px solid #FB531F;
            p{
                color: #FB531F;
                font-size: 20px;
                font-weight: 400;
            }
        }
        .description-girl-part{
            color: #222222;
            h4{
                font-size: 64px;
                line-height: 120%;
                font-weight: 400;
                @media (max-width: 1680px){
                    font-size: 54px;
                    @media (max-width: 1440px){
                        font-size: 48px;
                        @media (max-width: 768px){
                            font-size: 32px;
                            text-align: center;
                            line-height: 150%;
                        }
                    }
                }
            }
            p{
                font-size: 26px;
                font-weight: 400;
                line-height: 150%;
                font-family: 'IBM Plex Mono', monospace;
                @media (max-width: 1680px){
                    font-size: 24px;
                    @media (max-width: 1440px){
                        font-size: 18px;
                    }
                }
                span{
                    color: #FB531F;
                }
            }
        }
        .swiper-slide{
            .slide-item-description{
                border: 1px solid #FB531F;
                border-top: none;
                border-radius: 0 0 20px 20px;

                padding: 26px 16px;
                .slide-title{
                    font-size: 20px;
                    border-bottom: 1px solid #FB531F;
                    padding-bottom: 10px;
                }
                .date-slide{
                    img{
                        margin-top: 10px;
                    }
                    p{
                        font-size: 22px;
                        color: #222222;
                        font-family: 'IBM Plex Mono', monospace;
                        line-height: 140%;
                        font-weight: 400;
                        @media (max-width: 1440px){
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .huge-text{
            border-radius: 16px 16px 0 0;
            background: #222222;
            padding: 40px;
            span{
                color: white;
                border: 2px solid #FB531F;
                border-radius: 24px;
                padding: 9px 17px;
                font-size: 18px;
                font-weight: 300;
            }
            h3{
                font-size: 11vw;
                color: #FB531F;
            }
            p{
                font-size: 20px;
                color: white;
                font-family: 'IBM Plex Mono', monospace;
                line-height: 150%;
                font-weight: 400;
                @media (max-width: 768px){
                    font-size: 18px;
                }
            }
        }
    }
    // OUR TEAM
    &:nth-child(5){
        position: relative;
        background: white;
        .team-title-container{
            background: white;
            z-index: 2;
            position: sticky;
            top: 0vh;
            .team-for-white{
                padding: 32px;
                border: 1px solid #222222;
                border-radius: 20px 20px 0 0;
                border-bottom: none;
                padding-bottom: 0;
                margin-top: 17vh;
                .team-title{
                    border-bottom: 1px solid #222222;
                    padding-bottom: 20px;
                    @media (max-width: 768px){
                        font-size: 20px;
                    }
                    p{
                        color: #222222;
                    }
                    span{
                        border: 2px solid #FB531F;
                        border-radius: 12px;
                        padding: 9px 17px;
                    }
                }
            }
        }
        .team-members-container{
            padding: 32px;
            border-left: 1px solid #222222;
            border-right: 1px solid #222222;
            z-index: 1;
            .team-block{
                height: max-content !important;
                padding-bottom: 120px;
                gap: 2.666666666%;
                .team-member{
                    border-radius: 12px;
                    border: 1px solid #222222;
                    width: 23%;
                    height: max-content;
                    @media (max-width: 768px){
                        width: 48.6%;
                    }
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    // IMAGE
    &:nth-child(6){
        padding: 32px;
        background: url(../../assets/images/Legs.webp);
        background-size: cover;
        p{
            font-size: 40px;
            font-weight: 400;
            color: white;
            line-height: 150%;
            @media (max-width: 1440px){
                font-size: 32px;
            }
        }
    }
    // SOCIAL MEDIA
    &:nth-child(7){
        min-height: 85vh;
        background: #FB531F;
        @media (max-width: 1280px){
            min-height: max-content;
        }
        h3{
            font-size: 10.7vw;
            color: white;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 85%;
            @media (max-width: 1680px){
                font-size: 10vw;
                @media (max-width: 1440px){
                    font-size: 9vw;
                    @media (max-width: 1280px){
                        font-size: 7vw;
                        @media (max-width: 768px){
                            font-size: 12vw;
                        }
                    }
                }
            }
        }
        img{
            width: auto;
            height: 4px;
            @media (max-width: 1680px){
                height: 3px;
                @media (max-width: 1280px){
                    height: 1px;
                }
            }
        }
        p{
            color: white;
            font-size: 20px;
            font-weight: 700;
            font-family: 'IBM Plex Mono', monospace;
            cursor: pointer;
            transition: 0.2s all;
            &:hover{
                color: black;
            }
        }
    }
}
// FOOTER
footer{
    width: 95.5%;
    min-height: 70vh;
    height: max-content !important;
    margin: 0px auto;
    background: linear-gradient(to bottom, #FB531F, white);
    position: relative;
    @media (max-width: 768px){
        position: relative;
        height: max-content;
        border-radius: 0;
        top: 2vh;
    }
    .footer-content{
        height: 100%;
        border-radius: 20px;
        background: white;
        min-height: 70vh;
        height: max-content !important;
        border: 2px solid #FB531F;
        padding: 32px;
        .footer-title{
            font-size: 32px;
            font-weight: 400;
            padding-bottom: 30px;
        }
        h5{
            font-weight: 400;
            font-size: 24px;
            padding-bottom: 40px;
            @media (max-width: 768px){
                margin-top: 30px;
            }
        }
        p{
            font-family: 'IBM Plex Mono', monospace;
            font-weight: 400;
            font-size: 22px;
            line-height: 150%;
            padding-top: 8px;
                @media (max-width: 1440px){
                    font-size: 18px;
                }
            }
        a{
            font-family: 'IBM Plex Mono', monospace;
            font-weight: 400;
            font-size: 22px;
            padding: 8px 0;
            transition: 0.2s all;
                @media (max-width: 1440px){
                    font-size: 18px;
                }
            &:hover{
                color: #FB531F;
            }
        }
        .footer-by{
            border-top: 2px solid #FB531F;
            padding-top: 14px;
            @media (max-width: 768px){
                margin-top: 30px;
            }
            p{
                font-family: 'IBM Plex Mono', monospace;
                font-size: 22px;
                span{
                    color: #FB531F;
                    font-weight: 700;
                }
                @media (max-width: 1440px){
                    font-size: 18px;
                }
            }
        }
    }
}