.main-container-header {
  position: fixed;
  top: 85vh;
  transition: top 0.5s ease-in-out;
  z-index: 99999;
}
@media (max-width: 768px) {
  .main-container-header {
    display: none;
  }
}

.header-menu {
  width: max-content;
  background: #222222;
  padding: 14px;
  border-radius: 8px;
  transition: width 0.5s ease-in-out;
  font-family: "IBM Plex Mono", monospace;
}
.header-menu .header-link {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  border-radius: 8px;
  font-size: 16px;
  padding: 6px 28px;
}
.header-menu .header-link:nth-child(1) {
  background: #FB531F;
}
.header-menu .header-btn {
  transition: opacity 0.5s ease-in-out;
}
.header-menu .header-btn button {
  background: #FB531F;
  color: white;
  border-radius: 8px;
  font-size: 22px;
  padding: 12px 32px;
}

.header-with-sliders {
  height: 6vh;
  opacity: 0;
  transition: width 0.5s ease-in-out;
  border-bottom: 1px solid #222222;
}

input {
  margin-top: 5px;
  --c: orange; /* active color */
  --g: 0px; /* the gap */
  --l: 3px; /* line thickness*/
  --s: 3px; /* thumb size*/
  height: var(--s); /* needed for Firefox*/
  --_c: color-mix(in srgb, var(--c), #000 var(--p,0%));
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
}

input:focus-visible,
input:hover {
  --p: 25%;
}

input:active,
input:focus-visible {
  --_b: var(--s) ;
}

/* chromium */
input[type=range i]::-webkit-slider-thumb {
  height: 3px;
  aspect-ratio: 0.01;
  border-radius: none;
  border-image: linear-gradient(90deg, var(--_c) 50%, #cdcdcd 0) 0 1/calc(50% - var(--l) / 2) 100vw/0 calc(100vw + var(--g));
  -webkit-appearance: none;
  appearance: none;
  transition: 0.3s;
  background: #cdcdcd;
}

/* Firefox */
input[type=range]::-moz-range-thumb {
  height: var(--s);
  width: var(--s);
  background: none;
  border-image: linear-gradient(90deg, var(--_c) 50%, #cdcdcd 0) 0 1/calc(50% - var(--l) / 2) 100vw/0 calc(100vw + var(--g));
  -moz-appearance: none;
  appearance: none;
  transition: 0.3s;
  background: #cdcdcd;
}

@supports not (color: color-mix(in srgb, red, red)) {
  input {
    --_c: var(--c);
  }
}
.sticky-section {
  height: 93vh;
}

.main-page-title {
  position: relative;
  top: 0;
  height: max-content;
  line-height: 100%;
  font-size: 11vw;
  z-index: 99;
}

.block-under-title {
  height: 77vh;
  width: 95.5%;
  z-index: 0;
  background: url(./../../../assets/images/FirstBG.webp);
  background-size: cover;
  background-position: center;
  border: 2px solid black;
  border-radius: 20px 20px 0 0;
}
@media (max-width: 1920px) {
  .block-under-title {
    height: 77vh;
  }
}
@media (max-width: 1920px) and (max-width: 1820px) {
  .block-under-title {
    height: 76vh;
  }
}
@media (max-width: 1920px) and (max-width: 1820px) and (max-width: 1720px) {
  .block-under-title {
    height: 80vh;
    background-position: top center;
  }
}
@media (max-width: 1920px) and (max-width: 1820px) and (max-width: 1720px) and (max-width: 1440px) {
  .block-under-title {
    height: 80vh;
    background-position: top center;
  }
}
@media (max-width: 1920px) and (max-width: 1820px) and (max-width: 1720px) and (max-width: 1440px) and (max-width: 768px) {
  .block-under-title {
    display: none;
  }
}

.sticky-section {
  width: 95.5%;
  min-height: 100vh;
  height: max-content !important;
  margin: 0px auto;
  border-radius: 20px 20px 0 0;
  position: sticky;
  top: 17vh;
}
@media (max-width: 768px) {
  .sticky-section {
    position: relative;
    height: max-content;
    border-radius: 0;
    top: 2vh;
  }
}
.sticky-section:nth-child(1) {
  position: relative;
  top: 0;
}
@media (max-width: 768px) {
  .sticky-section:nth-child(1) {
    min-height: max-content !important;
  }
}
.sticky-section:nth-child(2) {
  background: #222222;
  padding: 40px;
  color: white;
  font-weight: 400;
}
.sticky-section:nth-child(2) h2 {
  font-size: 64px;
  border-bottom: 2px solid #FB531F;
  height: max-content;
  padding-bottom: 32px;
}
@media (max-width: 1680px) {
  .sticky-section:nth-child(2) h2 {
    font-size: 52px;
  }
}
@media (max-width: 1680px) and (max-width: 1440px) {
  .sticky-section:nth-child(2) h2 {
    font-size: 46px;
  }
}
.sticky-section:nth-child(2) .scrn-1-left {
  font-size: 24px;
}
.sticky-section:nth-child(2) .scrn-1-left span {
  border: 2px solid #FB531F;
  border-radius: 24px;
  font-weight: 400;
  padding: 9px 17px;
}
.sticky-section:nth-child(2) .scrn-1-right p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 20px;
  line-height: 32px;
}
.sticky-section:nth-child(3) {
  background: white;
  border: 1px solid #FB531F;
  padding: 32px;
}
.sticky-section:nth-child(3) .scrn-2-top {
  font-size: 24px;
  border-bottom: 1px solid #222222;
  padding-bottom: 10px;
}
.sticky-section:nth-child(3) .scrn-2-top span {
  border-radius: 24px;
  padding: 9px 17px;
  border: 2px solid #FB531F;
  font-family: "IBM Plex Mono", monospace;
}
.sticky-section:nth-child(3) .our-service-items {
  gap: 1.333333%;
}
.sticky-section:nth-child(3) .our-service-items .our-service-item {
  width: 24%;
  margin-top: 30px;
  border: 1px solid #FB531F;
  border-radius: 16px;
  min-height: 280px;
}
@media (max-width: 768px) {
  .sticky-section:nth-child(3) .our-service-items .our-service-item {
    width: 100%;
    min-height: 230px;
  }
}
.sticky-section:nth-child(3) .our-service-items .our-service-item .our-services-item-title {
  padding-bottom: 12px;
  font-size: 18px;
  border-bottom: 1px solid #FB531F;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  .sticky-section:nth-child(3) .our-service-items .our-service-item .our-services-item-title {
    font-size: 16px;
  }
}
.sticky-section:nth-child(3) .our-service-items .our-service-item .our-service-item-description {
  font-size: 18px;
  color: #FB531F;
  line-height: 140%;
  font-weight: 400;
  padding-bottom: 20px;
}
@media (max-width: 1440px) {
  .sticky-section:nth-child(3) .our-service-items .our-service-item .our-service-item-description {
    font-size: 16px;
  }
}
.sticky-section:nth-child(3) .our-service-items .our-service-item .our-service-btns button {
  border-radius: 12px;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 1440px) {
  .sticky-section:nth-child(3) .our-service-items .our-service-item .our-service-btns button {
    padding: 12px 16px;
  }
}
@media (max-width: 1440px) and (max-width: 768px) {
  .sticky-section:nth-child(3) .our-service-items .our-service-item .our-service-btns button {
    padding: 8px 10px;
  }
}
.sticky-section:nth-child(3) .our-service-items .our-service-item .our-service-btns button:nth-child(1) {
  background: #222222;
  color: white;
}
.sticky-section:nth-child(3) .our-service-items .our-service-item .our-service-btns button:nth-child(2) {
  border: 1px solid #222222;
  color: #222222;
}
.sticky-section:nth-child(4) {
  position: relative;
  background: white;
}
.sticky-section:nth-child(4) img {
  border-radius: 20px 20px 0 0;
}
.sticky-section:nth-child(4) .under-image-text {
  padding: 12px 0;
  border-bottom: 1px solid #FB531F;
}
.sticky-section:nth-child(4) .under-image-text p {
  color: #FB531F;
  font-size: 20px;
  font-weight: 400;
}
.sticky-section:nth-child(4) .description-girl-part {
  color: #222222;
}
.sticky-section:nth-child(4) .description-girl-part h4 {
  font-size: 64px;
  line-height: 120%;
  font-weight: 400;
}
@media (max-width: 1680px) {
  .sticky-section:nth-child(4) .description-girl-part h4 {
    font-size: 54px;
  }
}
@media (max-width: 1680px) and (max-width: 1440px) {
  .sticky-section:nth-child(4) .description-girl-part h4 {
    font-size: 48px;
  }
}
.sticky-section:nth-child(4) .description-girl-part p {
  font-size: 26px;
  font-weight: 400;
  line-height: 150%;
  font-family: "IBM Plex Mono", monospace;
}
@media (max-width: 1680px) {
  .sticky-section:nth-child(4) .description-girl-part p {
    font-size: 24px;
  }
}
@media (max-width: 1680px) and (max-width: 1440px) {
  .sticky-section:nth-child(4) .description-girl-part p {
    font-size: 18px;
  }
}
.sticky-section:nth-child(4) .description-girl-part p span {
  color: #FB531F;
}
.sticky-section:nth-child(4) .swiper-slide .slide-item-description {
  border: 1px solid #FB531F;
  border-top: none;
  border-radius: 0 0 20px 20px;
  padding: 26px 16px;
}
.sticky-section:nth-child(4) .swiper-slide .slide-item-description .slide-title {
  font-size: 20px;
  border-bottom: 1px solid #FB531F;
  padding-bottom: 10px;
}
.sticky-section:nth-child(4) .swiper-slide .slide-item-description .date-slide img {
  margin-top: 10px;
}
.sticky-section:nth-child(4) .swiper-slide .slide-item-description .date-slide p {
  font-size: 22px;
  color: #222222;
  font-family: "IBM Plex Mono", monospace;
  line-height: 140%;
  font-weight: 400;
}
@media (max-width: 1440px) {
  .sticky-section:nth-child(4) .swiper-slide .slide-item-description .date-slide p {
    font-size: 18px;
  }
}
.sticky-section:nth-child(4) .huge-text {
  border-radius: 16px 16px 0 0;
  background: #222222;
  padding: 40px;
}
.sticky-section:nth-child(4) .huge-text span {
  color: white;
  border: 2px solid #FB531F;
  border-radius: 24px;
  padding: 9px 17px;
  font-size: 18px;
  font-weight: 300;
}
.sticky-section:nth-child(4) .huge-text h3 {
  font-size: 11vw;
  color: #FB531F;
}
.sticky-section:nth-child(4) .huge-text p {
  font-size: 20px;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  line-height: 150%;
  font-weight: 400;
}
@media (max-width: 768px) {
  .sticky-section:nth-child(4) .huge-text p {
    font-size: 18px;
  }
}
.sticky-section:nth-child(5) {
  position: relative;
  background: white;
}
.sticky-section:nth-child(5) .team-title-container {
  background: white;
  z-index: 2;
  position: sticky;
  top: 0vh;
}
.sticky-section:nth-child(5) .team-title-container .team-for-white {
  padding: 32px;
  border: 1px solid #222222;
  border-radius: 20px 20px 0 0;
  border-bottom: none;
  padding-bottom: 0;
  margin-top: 17vh;
}
.sticky-section:nth-child(5) .team-title-container .team-for-white .team-title {
  border-bottom: 1px solid #222222;
  padding-bottom: 20px;
}
.sticky-section:nth-child(5) .team-title-container .team-for-white .team-title p {
  color: #222222;
}
.sticky-section:nth-child(5) .team-title-container .team-for-white .team-title span {
  border: 2px solid #FB531F;
  border-radius: 12px;
  padding: 9px 17px;
}
.sticky-section:nth-child(5) .team-members-container {
  padding: 32px;
  border-left: 1px solid #222222;
  border-right: 1px solid #222222;
  z-index: 1;
}
.sticky-section:nth-child(5) .team-members-container .team-block {
  height: max-content !important;
  padding-bottom: 120px;
  gap: 2.666666666%;
}
.sticky-section:nth-child(5) .team-members-container .team-block .team-member {
  border-radius: 12px;
  border: 1px solid #222222;
  width: 23%;
  height: max-content;
}
.sticky-section:nth-child(5) .team-members-container .team-block .team-member img {
  width: 100%;
}
.sticky-section:nth-child(6) {
  padding: 32px;
  border: 1px solid #222222;
  border-radius: 20px 20px 0 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.btn, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn:focus, button:focus {
  outline: none;
}

a[href^=tel] {
  color: #000;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  max-width: 100%;
  min-width: 320px;
  font-weight: 400;
  font-size: 18px;
  color: black;
  background: white;
  font-family: "Zen Dots";
  overflow-x: hidden !important;
}

.li {
  list-style: none;
}
